.devise-container{
  text-align: center;
  border: 1px solid black;
  margin: 10% 30% 10% 30%;
}

.devise-container .form-control{
  width: 40%;
  text-align: center;
  margin: auto 30% auto 30%;
}

.devise-container .btn{
  width: 40%;
  text-align: center;
  margin: 10px 25% 10px 25%;
}

.login-links {
  padding-bottom: 10px;
  padding-top: 10px;
}
